[submodule ".registry"]
	path = .registry
	url = https://github.com/estadistica-fca/estadistica-fca.r-universe.dev
	branch = HEAD
[submodule "estadisticaFcaUnl"]
	path = estadisticaFcaUnl
	url = https://github.com/Estadistica-FCA/estadisticaFcaUnl
